<h1 class="text-center mb-5 fw-bold">Post Your Blog</h1>
  <div class="container bg-body-tertiary p-4 rounded-4">
<form action="/add-blog" method="post" class="row g-2" enctype="multipart/form-data">
    <label for="inputtitle" class="form-label">Title</label>
    <input type="text" class="form-control" id="inputname4" name="title">
    
    <label for="inputcontent" class="form-label">Content</label>
    <input type="text" class="form-control" id="inputEmail4" name="body">

    <label for="inputthumbnail" class="form-label">Add Thumbnail</label>
    <input type="file" class="form-control" id="inputPassword4" name="coverImage">

  <div class="col-12 mt-3">
    <button type="submit" class="btn btn-primary">Add Blog</button>
  </div>
  </div>
</form>

