<h1 class="text-center mb-5 fw-bold">Sign In</h1>
  <div class="container bg-body-tertiary p-4 w-50 rounded-4">
<form method="post" action="/signin" class="row g-2">

    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4" name="email">

    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4" name="password">

  <div class="col-6">
    <button type="submit" class="btn btn-primary">Sign In</button>
  </div>
    <div class="col-6">
  <p class="text-center mt-5"><a href="/forgot-password">Forgot Password </a></p>
  </div>
  </div>
</form>

<p class="text-center mt-5">If you are not Signed Up, Here <a href="/signup">SignUp</a></p>