<h1 class="text-center mb-5 fw-bold">Sign Up</h1>
  <div class="container bg-body-tertiary p-4 w-50 rounded-4">
<form action="/signup" method="post" class="row g-2">
    <label for="inputname4" class="form-label">Name</label>
    <input type="text" class="form-control" id="inputname4" name="name">
    
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4" name="email">

    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4" name="password">

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </div>
  </div>
</form>

<p class="text-center mt-5">If you have already SignUp, Here <a href="/signin">SignIn</a></p>